[Unit]
Description=HGCS (Harvester Grid Condor Sidekick)
After=multi-user.target
Wants=condor.service

[Service]
Type=simple
User=atlpan
Group=zp
LimitSTACK=1073741824
Restart=on-abnormal
ExecStart=/opt/HGCS/bin/python /opt/HGCS/bin/hgcs.py -c /opt/hgcs.cfg

[Install]
WantedBy=multi-user.target
