[Master]
log_file = /var/log/hgcs/hgcs.log
log_level = INFO


[LogRetriever]
enable = true
sleep_period = 300
flush_period = 86400


[SDFFetcher]
enable = true
sleep_period = 300
flush_period = 86400
limit = 6000
